<div class="surface-section my-1 mx-3">
  <div class="flex flex-wrap flex-column row-gap-4 w-12 sm:w-10 md:w-8 lg:w-6 xl:w-6">
    <p-checkbox
      type="text"
      inputId="th_detail_item_operator"
      styleClass="ml-3 cursor-auto shadow-none"
      [(ngModel)]="operator"
      [binary]="true"
      [disabled]="true"
      [label]="'INTERNAL.OPERATOR' | translate"
      [ariaLabel]="'INTERNAL.OPERATOR' | translate"
      [pTooltip]="'INTERNAL.TOOLTIPS.OPERATOR' | translate"
      tooltipPosition="top"
      tooltipEvent="hover"
    ></p-checkbox>

    <div class="w-12">
      <span class="p-float-label">
        <input
          pInputText
          type="text"
          class="w-full"
          id="th_detail_item_name"
          [value]="theme?.name"
          [disabled]="true"
          [attr.aria-label]="'THEME.NAME' | translate"
          [pTooltip]="'THEME.TOOLTIPS.NAME' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        />
        <label for="th_detail_item_name">{{ 'THEME.NAME' | translate }}</label>
      </span>
    </div>

    <div class="flex flex-wrap row-gap-4">
      <div class="w-12 sm:w-5 sm:pr-3">
        <span class="p-float-label mb-1">
          <input
            pInputText
            type="text"
            id="th_detail_item_creationDate"
            class="w-full pt-3 pb-2 text-responsive"
            [value]="theme?.creationDate | date: dateFormat"
            [disabled]="true"
            [attr.aria-label]="'INTERNAL.CREATION_DATE' | translate"
            [pTooltip]="'INTERNAL.TOOLTIPS.CREATION_DATE' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <label for="th_detail_item_creationDate">{{ 'INTERNAL.CREATION_DATE' | translate }}</label>
        </span>
      </div>

      <div class="w-12 sm:w-7 sm:pl-3">
        <span class="p-float-label mb-1">
          <input
            pInputText
            type="text"
            id="th_detail_item_creationUser"
            class="w-full pt-3 pb-2 text-responsive"
            [value]="theme?.creationUser"
            [disabled]="true"
            [attr.aria-label]="'INTERNAL.CREATION_USER' | translate"
            [pTooltip]="'INTERNAL.TOOLTIPS.CREATION_USER' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <label for="th_detail_item_creationUser">{{ 'INTERNAL.CREATION_USER' | translate }}</label>
        </span>
      </div>
    </div>

    <div class="flex flex-wrap row-gap-4">
      <div class="w-12 sm:w-5 sm:pr-3">
        <span class="p-float-label mb-1">
          <input
            pInputText
            type="text"
            id="th_detail_item_modificationDate"
            class="w-full pt-3 pb-2 text-responsive"
            [value]="theme?.modificationDate | date: dateFormat"
            [disabled]="true"
            [attr.aria-label]="'INTERNAL.MODIFICATION_DATE' | translate"
            [pTooltip]="'INTERNAL.TOOLTIPS.MODIFICATION_DATE' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <label for="th_detail_item_modificationDate">{{ 'INTERNAL.MODIFICATION_DATE' | translate }}</label>
        </span>
      </div>

      <div class="w-12 sm:w-7 sm:pl-3">
        <span class="p-float-label mb-1">
          <input
            pInputText
            type="text"
            id="th_detail_item_modificationUser"
            class="w-full pt-3 pb-2 text-responsive"
            [value]="theme?.modificationUser"
            [disabled]="true"
            [attr.aria-label]="'INTERNAL.MODIFICATION_USER' | translate"
            [pTooltip]="'INTERNAL.TOOLTIPS.MODIFICATION_USER' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <label for="th_detail_item_modificationUser">{{ 'INTERNAL.MODIFICATION_USER' | translate }}</label>
        </span>
      </div>
    </div>
  </div>
</div>
