@use 'src/app/th-mixins.scss' as *;

@include danger-action;
@include ocx-text-responsive;
@include ocx-required-label;
@include ocx-p-inputgroup;
@include ocx-p-message;
@include ocx-p-tabs;
@include ocx-interactive-data-view-fixes;
@include dialog-footer-buttons;
@include dialog-non-full-size-modal;
@include readable-disabled-components;

:host ::ng-deep {
  .ocx-content > div {
    margin-bottom: 0 !important;
    padding: 0 !important;
  }
  .p-tabs .p-tabpanels {
    padding: 0;
    &.non-modal-panels {
      padding: 0.3rem 1rem;
    }
  }

  .max-w-11 {
    max-width: 90%;
  }
  .animation-delay-3000 {
    animation-delay: 1000ms !important;
  }

  .p-select-option,
  .p-listbox-option {
    padding: 0.5rem 1rem !important;
  }

  /* ZEBRA rows on select lists */
  .p-select-overlay .p-select-list *:nth-child(even) .p-select-option {
    background-color: var(
      --onecx-theme-onecx-theme-ui-datatable-row-even-background,
      var(--table-body-row-even-bg, rgba(0, 0, 0, 0.02))
    );
  }
  /* ZEBRA rows on listbox */
  .p-listbox:not(.p-disabled) .p-listbox-option:not(.p-listbox-option-selected):not(.p-disabled) {
    &:nth-child(even) {
      background-color: var(
        --onecx-theme-onecx-theme-ui-datatable-row-even-background,
        var(--table-body-row-even-bg, rgba(0, 0, 0, 0.02))
      );
    }
  }
}
