<ocx-portal-page permission="THEME#VIEW" helpArticleId="PAGE_THEME_DETAIL">
  <ocx-page-header
    [loading]="loading"
    [header]="theme?.displayName"
    [subheader]="'THEME.DETAIL.SUBHEADER' | translate"
    [actions]="(actions$ | async) ?? []"
    [figureImage]="headerImageUrl"
    [figureBackground]="!theme?.logoUrl"
  >
  </ocx-page-header>

  <ocx-page-content *ngIf="theme$ | async as theme">
    <p-message
      *ngIf="loading"
      id="ws_detail_loading_message"
      severity="info"
      styleClass="m-3 p-2"
      [text]="'ACTIONS.LOADING' | translate"
    ></p-message>
    <p-message
      *ngIf="exceptionKey"
      id="th_detail_error_message"
      severity="error"
      styleClass="m-3 p-2"
      [text]="exceptionKey | translate"
    ></p-message>

    <p-tabView *ngIf="!loading && !exceptionKey" (onChange)="onTabChange($event)" [(activeIndex)]="selectedTabIndex">
      <p-tabPanel
        id="th_detail_panel_props"
        [header]="'THEME.TABS.PROPERTIES' | translate"
        [attr.aria-label]="'THEME.TABS.PROPERTIES' | translate"
        [tooltip]="'THEME.TABS.PROPERTIES_TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      >
        <p-message
          *ngIf="theme?.operator && showOperatorMessage"
          id="th_detail_operator_message"
          styleClass="absolute z-1 max-w-11 fadeout animation-duration-1000 animation-delay-3000 animation-iteration-1 animation-fill-forwards"
          severity="warn"
          [text]="'INTERNAL.OPERATOR_MESSAGE' | translate"
        ></p-message>
        <div class="surface-section mb-1 mt-2 mx-3">
          <div class="flex flex-wrap flex-column row-gap-4 w-12 md:w-10 lg:w-8 xl:w-6">
            <span class="p-float-label">
              <input
                pInputText
                type="text"
                readonly
                class="w-full"
                id="th_detail_props_item_display_name"
                [value]="theme?.displayName"
                [pTooltip]="'THEME.TOOLTIPS.DISPLAY_NAME' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label for="th_detail_item_display_name">{{ 'THEME.DISPLAY_NAME' | translate }}</label>
            </span>
            <span class="p-float-label">
              <textarea
                pInputTextarea
                readonly
                class="w-full"
                autoresize="true"
                rows="3"
                id="th_detail_props_item_description"
                [ngModel]="theme?.description"
                [pTooltip]="'THEME.DESCRIPTION' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              ></textarea>
              <label for="th_detail_item_description">{{ 'THEME.DESCRIPTION' | translate }}</label>
            </span>

            <div class="flex flex-wrap sm:flex-nowrap justify-content-around align-items-center row-gap-1">
              <div class="flex flex-nowrap align-items-center column-gap-2">
                <label for="th_detail_item_logo" class="flex font-medium text-600">
                  {{ 'LOGO.LABEL' | translate }}</label
                >
                <app-image-container
                  id="th_detail_props_item_logo"
                  [imageUrl]="getImageUrl(theme, RefType.Logo)"
                  [small]="true"
                ></app-image-container>
              </div>
              <div class="flex flex-nowrap align-items-center column-gap-2">
                <label for="th_detail_item_favicon" class="flex font-medium text-600">
                  {{ 'FAVICON.LABEL' | translate }}</label
                >
                <app-image-container
                  id="th_detail_props_item_favicon"
                  [imageUrl]="getImageUrl(theme, RefType.Favicon)"
                  [small]="true"
                ></app-image-container>
              </div>
            </div>
          </div>
        </div>
      </p-tabPanel>

      <p-tabPanel
        [header]="'THEME.TABS.INTERN' | translate"
        [attr.aria-label]="'THEME.TABS.INTERN' | translate"
        [tooltip]="'THEME.TABS.INTERN_TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      >
        <app-theme-intern [theme]="theme" [dateFormat]="dateFormat"></app-theme-intern>
      </p-tabPanel>

      <p-tabPanel
        [header]="'THEME.TABS.USE' | translate"
        [attr.aria-label]="'THEME.TABS.USE' | translate"
        [tooltip]="'THEME.TABS.USE_TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      >
        <app-theme-use [theme]="theme" (used)="preparePageAction($event)"></app-theme-use>
      </p-tabPanel>

      <p-tabPanel
        id="th_detail_panel_variables"
        [header]="'THEME.TABS.VARIABLES' | translate"
        [attr.aria-label]="'THEME.TABS.VARIABLES' | translate"
        [tooltip]="'THEME.TABS.VARIABLES_TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      >
        <pre class="my-0 pt-1 pb-0 card surface-50">{{ theme?.properties | json }}</pre>
      </p-tabPanel>
    </p-tabView>
  </ocx-page-content>

  <!-- DELETE -->
  <p-dialog
    [header]="'ACTIONS.DELETE.TOOLTIP' | translate"
    [(visible)]="themeDeleteVisible"
    [modal]="true"
    [closable]="true"
    [dragable]="true"
    [resizable]="true"
    [dismissableMask]="true"
    [style]="{ 'max-width': '425px' }"
  >
    <div class="flex column-gap-3 row-gap-1 justify-content-start align-items-center">
      <div class="pi pi-question-circle text-3xl danger-action-text"></div>
      <div>
        <div id="th_delete_message_text" class="font-bold">{{ 'ACTIONS.DELETE.THEME_MESSAGE' | translate }}</div>
        <div id="th_delete_theme_display_name" class="my-2 font-bold danger-action-text text-center">
          {{ theme?.displayName }}
        </div>
        <div class="mt-2">{{ 'ACTIONS.DELETE.MESSAGE_INFO' | translate }}</div>
      </div>
    </div>
    <ng-template pTemplate="footer">
      <div class="flex flex-wrap column-gap-2 row-gap-1 justify-content-end">
        <p-button
          icon="pi pi-times"
          id="th_delete_action_no"
          (onClick)="themeDeleteVisible = false"
          [label]="'ACTIONS.CONFIRMATION.NO' | translate"
          [pTooltip]="'ACTIONS.CONFIRMATION.NO.TOOLTIP' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        ></p-button>
        <p-button
          icon="pi pi-check"
          id="th_delete_action_yes"
          (onClick)="onConfirmThemeDeletion()"
          [label]="'ACTIONS.CONFIRMATION.YES' | translate"
          [pTooltip]="'ACTIONS.CONFIRMATION.YES.TOOLTIP' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        ></p-button>
      </div>
    </ng-template>
  </p-dialog>
</ocx-portal-page>
