<ocx-portal-page permission="THEME#VIEW" helpArticleId="PAGE_THEME_DETAIL">
  <ocx-page-header
    [loading]="loading"
    [header]="theme?.displayName"
    [subheader]="'DIALOG.HEADER.DETAIL.SUBHEADER' | translate"
    [actions]="(actions$ | async) ?? []"
    [figureImage]="headerImageUrl"
    [figureBackground]="!headerImageUrl"
  >
  </ocx-page-header>

  <ocx-page-content>
    <p-message
      *ngIf="loading"
      id="ws_detail_loading_message"
      severity="info"
      styleClass="m-3"
      [text]="'ACTIONS.LOADING' | translate"
    ></p-message>
    <p-message
      *ngIf="exceptionKey"
      id="th_detail_error_message"
      severity="error"
      styleClass="m-3"
      [text]="exceptionKey | translate"
    ></p-message>

    <!-- showOperatorMessage -->
    <ng-container *ocxIfPermission="'THEME#EDIT'">
      <!-- PrimeNG  17: Using p-messages uses the correct alert role (aria)
           PrimeNG >17: Try again with p-message - check correct use of aria role
      -->
      <p-messages
        *ngIf="theme?.operator && showOperatorMessage"
        [(value)]="messages"
        [enableService]="false"
        [style]="{ 'margin-top': '35px', right: '22px', left: '22px' }"
        styleClass="absolute z-1"
      >
      </p-messages>
    </ng-container>

    <p-tabView
      *ngIf="!loading && !exceptionKey"
      (onChange)="onTabChange($event, theme)"
      [(activeIndex)]="selectedTabIndex"
    >
      <!-- PROPS -->
      <p-tabPanel
        [header]="'DIALOG.TABS.PROPS' | translate"
        [attr.aria-label]="'DIALOG.TABS.PROPS' | translate"
        [tooltip]="'DIALOG.TABS.PROPS.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      >
        <p-message
          *ngIf="exceptionKey"
          id="th_detail_basic_message_error"
          severity="error"
          styleClass="m-3"
          [text]="exceptionKey | translate"
        ></p-message>
        <div *ngIf="!exceptionKey" class="mx-3 mt-1 mb-2">
          <app-theme-props [theme]="themeForProps" [changeMode]="changeMode"></app-theme-props>
        </div>
      </p-tabPanel>

      <!-- COLORS -->
      <p-tabPanel
        [header]="'DIALOG.TABS.COLORS' | translate"
        [attr.aria-label]="'DIALOG.TABS.COLORS' | translate"
        [tooltip]="'DIALOG.TABS.COLORS.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      >
        <p-message
          *ngIf="exceptionKey"
          id="th_detail_color_message_error"
          severity="error"
          styleClass="m-3"
          [text]="exceptionKey | translate"
        ></p-message>
        <div *ngIf="!exceptionKey" class="mx-3 mt-1 mb-2">
          <app-theme-apply
            [theme]="theme"
            [themes$]="themes$"
            [changeMode]="changeMode"
            [isCurrentTheme]="isCurrentTheme"
            [autoApply]="autoApply"
            (autoApplyChange)="changeAutoApply($event)"
          ></app-theme-apply>
          <app-theme-colors [theme]="themeForColors"></app-theme-colors>
        </div>
      </p-tabPanel>

      <!-- VARIABLES -->
      <p-tabPanel
        id="th_detail_panel_variables"
        [header]="'DIALOG.TABS.VARIABLES' | translate"
        [disabled]="changeMode !== 'VIEW'"
        [attr.aria-label]="'DIALOG.TABS.VARIABLES' | translate"
        [tooltip]="'DIALOG.TABS.VARIABLES.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      >
        <pre class="my-0 pt-1 pb-0 card surface-50">{{ theme?.properties | json }}</pre>
      </p-tabPanel>

      <!-- USE -->
      <p-tabPanel
        [header]="'DIALOG.TABS.USE' | translate"
        [disabled]="changeMode !== 'VIEW'"
        [attr.aria-label]="'DIALOG.TABS.USE' | translate"
        [tooltip]="'DIALOG.TABS.USE.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      >
        <app-theme-use [themeName]="themeForUse?.name" (used)="preparePageActions($event, theme)"></app-theme-use>
      </p-tabPanel>

      <!-- INTERN -->
      <p-tabPanel
        [header]="'DIALOG.TABS.INTERN' | translate"
        [disabled]="changeMode !== 'VIEW'"
        [attr.aria-label]="'DIALOG.TABS.INTERN' | translate"
        [tooltip]="'DIALOG.TABS.INTERN.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      >
        <app-theme-intern [theme]="theme" [dateFormat]="dateFormat"></app-theme-intern>
      </p-tabPanel>
    </p-tabView>
  </ocx-page-content>

  <!-- DELETE -->
  <app-theme-delete
    [theme]="themeForUse"
    [isUsedByWorkspace]="isThemeUsedByWorkspace"
    [(visible)]="themeDeleteVisible"
    (themeDeleted)="onThemeDeletion()"
  ></app-theme-delete>
</ocx-portal-page>
