<img
  [id]="id"
  *ngIf="!displayDefault"
  [class]="'image-object image-' + (small ? 'sm' : 'lg') + ' sm:image-lg ' + (styleClass ? styleClass : '')"
  [ocxSrc]="displayImageUrl"
  (error)="onImageLoadError()"
  (load)="onImageLoadSuccess()"
  [alt]="title"
  [pTooltip]="title"
  tooltipPosition="top"
  tooltipEvent="hover"
/>
<img
  [id]="id"
  *ngIf="displayDefault"
  [class]="'image-object image-' + (small ? 'sm' : 'lg') + ' sm:image-lg ' + (styleClass ? styleClass : '')"
  [src]="defaultImageUrl"
  [alt]="'LOGO.LABEL' | translate"
  [pTooltip]="title"
  tooltipPosition="top"
  tooltipEvent="hover"
/>
