<img
  [id]="id"
  *ngIf="!displayDefault"
  [class]="'object-fit max-w-full ' + (styleClass ?? '')"
  [ocxSrc]="displayImageUrl"
  (error)="onImageLoadError()"
  (load)="onImageLoadSuccess()"
  [alt]="title ?? 'IMAGE.TOOLTIPS.IMAGE' | translate"
  [pTooltip]="title"
  tooltipPosition="top"
  tooltipEvent="hover"
/>
<img
  [id]="id"
  *ngIf="displayDefault"
  [class]="'object-fit max-w-full ' + (styleClass ?? '')"
  [src]="defaultImageUrl"
  [alt]="title ?? 'IMAGE.TOOLTIPS.PLACEHOLDER' | translate"
  [pTooltip]="title"
  tooltipPosition="top"
  tooltipEvent="hover"
  aria-hidden="true"
/>
