@if (themeName) {
  @if (isComponentDefined$ | async) {
    <ocx-slot
      [name]="slotName"
      [inputs]="{ dataType: 'workspaces', themeName: themeName, logEnabled: false, logPrefix: 'theme-use' }"
      [outputs]="{ workspaces: slotEmitter }"
    >
    </ocx-slot>
  } @else {
    <div class="sm:pt-2 pb-2 sm:pb-3 px-3">{{ 'DIALOG.WORKSPACES_USING_THEME.MISSING_COMPONENT' | translate }}</div>
  }
  @if (workspaceData$ | async; as workspaces) {
    <div class="sm:pt-2 pb-2 sm:pb-3 px-3">
      @if (workspaces.length === 0) {
        <div>{{ 'DIALOG.WORKSPACES_USING_THEME.UNUSED' | translate }}</div>
      } @else {
        {{ 'DIALOG.WORKSPACES_USING_THEME.USED' | translate }}
        <ul class="ml-0 mt-2">
          @for (w of workspaces; track w.name) {
            <li class="mb-1">
              @if (workspaceEndpointExist) {
                <a
                  tabindex="0"
                  id="ws_detail_props_item_theme_link"
                  class="max-w-15rem md:max-w-20rem lg:max-w-30rem xl:max-w-full cursor-pointer font-italic text-primary text-responsive"
                  [routerLink]="[getWorkspaceEndpointUrl$(w.name) | async]"
                  [attr.aria-label]="'ACTIONS.NAVIGATION.GOTO_WORKSPACE' | translate"
                  [pTooltip]="'ACTIONS.NAVIGATION.GOTO_WORKSPACE' | translate"
                  tooltipPosition="right"
                  tooltipEvent="hover"
                >
                  {{ w.displayName }}
                </a>
              } @else {
                {{ w.displayName }}
              }
            </li>
          }
        </ul>
      }
    </div>
  }
}
