<ocx-portal-page permission="THEME#EDIT" helpArticleId="PAGE_THEME_DESIGNER">
  <ocx-page-header
    [header]="theme ? theme.displayName : 'Theme Designer'"
    [subheader]="'THEME.DESIGNER.' + changeMode + '.SUBHEADER' | translate"
    [actions]="(actions$ | async) ?? []"
  ></ocx-page-header>
  <ocx-page-content>
    <div class="pt-3 px-3 mb-3 flex flex-column row-gap-3">
      <section
        class="sm:ml-2 sm:mr-1 flex flex-wrap justify-content-between align-items-center row-gap-2 column-gap-3"
        [attr.aria-label]="'THEME.DESIGNER.TOP.SECTION' | translate"
      >
        <div
          class="field mb-0 flex flex-wrap sm:flex-nowrap align-items-center row-gap-3 column-gap-3"
          [attr.aria-label]="'THEME.DETAIL.AUTO_APPLY' | translate"
          [pTooltip]="'THEME.DETAIL.AUTO_APPLY.TOOLTIP' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        >
          <p-inputSwitch
            inputId="th_designer_header_is_current_theme"
            name="autoApplyToggle"
            [(ngModel)]="autoApply"
            [ariaLabel]="'THEME.DETAIL.AUTO_APPLY' | translate"
            [pTooltip]="'THEME.DETAIL.AUTO_APPLY' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          ></p-inputSwitch>
          <label for="th_designer_header_is_current_theme" aria-hidden="true">
            {{ 'THEME.DETAIL.AUTO_APPLY' | translate }}
          </label>
        </div>
        <span
          *ngIf="isCurrentTheme"
          class="pi pi-bolt text-primary font-medium"
          [attr.aria-label]="'THEME.DETAIL.AUTO_APPLY_CURRENT_THEME' | translate"
          [pTooltip]="'THEME.DETAIL.AUTO_APPLY_CURRENT_THEME' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
          role="note"
        >
        </span>
        <div class="field mb-0 w-full sm:w-20rem">
          <span class="p-float-label">
            <p-dropdown
              #themeTemplate
              inputId="th_designer_template_"
              [options]="themeTemplates"
              styleClass="w-full"
              (onChange)="onThemeTemplateDropdownChange($event)"
              [showClear]="false"
              [autoDisplayFirst]="false"
              [ariaLabel]="'THEME.TEMPLATE.SELECTOR' | translate"
              [pTooltip]="'THEME.TEMPLATE.SELECTOR.TOOLTIP' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            ></p-dropdown>
            <label for="th_designer_fields_selected_theme" class="white-space-nowrap" aria-hidden="true">
              {{ 'THEME.TEMPLATE.SELECTOR' | translate }}
            </label>
          </span>
        </div>
      </section>

      <p-fieldset [toggleable]="false" [collapsed]="false" styleClass="px-1">
        <ng-template pTemplate="header">
          <span [attr.aria-label]="'THEME.GROUPS.BASE' | translate">{{ 'THEME.GROUPS.BASE' | translate }}</span>
        </ng-template>
        <form [formGroup]="basicForm" class="flex flex-column row-gap-4">
          <div *ngIf="changeMode === 'CREATE'" class="flex-grow-1">
            <span class="p-float-label" controlErrorAnchor>
              <input
                pInputText
                minlength="2"
                maxlength="255"
                type="text"
                id="th_designer_field_name"
                class="w-full pt-3 pb-2 text-responsive"
                formControlName="name"
                [attr.aria-label]="'THEME.NAME' | translate"
                [pTooltip]="'THEME.TOOLTIPS.NAME' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label class="ocx-required-label" for="th_designer_field_name" aria-hidden="true">
                {{ 'THEME.NAME' | translate }}
              </label>
            </span>
          </div>

          <div
            class="flex flex-row flex-wrap justify-content-start align-items-center column-gap-4 sm:column-gap-5 md:column-gap-6 row-gap-2"
          >
            <span class="flex-grow-1 p-float-label" controlErrorAnchor>
              <input
                pInputText
                minlength="2"
                maxlength="255"
                type="text"
                id="th_designer_field_display_name"
                class="w-full pt-3 pb-2 text-responsive"
                formControlName="displayName"
                [attr.aria-label]="'THEME.DISPLAY_NAME' | translate"
                [pTooltip]="'THEME.TOOLTIPS.DISPLAY_NAME' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label class="ocx-required-label" for="th_designer_field_display_name" aria-hidden="true">
                {{ 'THEME.DISPLAY_NAME' | translate }}
              </label>
            </span>
            <div class="md:w-10rem">
              <p-checkbox
                ngDefaultControl
                type="text"
                id="th_designer_field_mandatory"
                styleClass="cursor-auto shadow-none"
                formControlName="mandatory"
                [binary]="true"
                [label]="'INTERNAL.MANDATORY' | translate"
                [ariaLabel]="'INTERNAL.MANDATORY' | translate"
                [pTooltip]="'INTERNAL.TOOLTIPS.MANDATORY' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              ></p-checkbox>
            </div>
          </div>
          <div class="flex-grow-1 p-float-label">
            <input
              pInputText
              type="text"
              id="th_designer_field_description"
              class="w-full pt-3 pb-2 text-responsive"
              formControlName="description"
              [attr.aria-label]="'THEME.TOOLTIPS.DESCRIPTION' | translate"
              [pTooltip]="'THEME.TOOLTIPS.DESCRIPTION' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label for="th_designer_field_description" aria-hidden="true">
              {{ 'THEME.DESCRIPTION' | translate }}
            </label>
          </div>
          <div class="flex-grow-1">
            <!-- helper inputs because p-fileupload does not work inside inputgroup -->
            <input
              hidden
              type="file"
              hidden
              #selectedFileInputLogo
              (change)="onFileUpload($event, RefType.Logo)"
              accept=".png, .jpg, .jpeg"
            />
            <input
              hidden
              type="file"
              hidden
              #selectedFileInputFavicon
              (change)="onFileUpload($event, RefType.Favicon)"
              accept=".png, .jpg, .jpeg, .ico"
            />
            <div class="flex flex-wrap sm:flex-nowrap align-items-center row-gap-3 column-gap-4">
              <app-image-container
                id="th_designer_logo_url_image"
                styleClass="max-h-3rem max-w-5rem  border-round-sm"
                [imageUrl]="fetchingLogoUrl"
                [title]="(fetchingLogoUrl ? 'LOGO.IMAGE' : 'IMAGE.TOOLTIPS.PLACEHOLDER') | translate"
                (imageLoadResult)="onImageLoadResult(RefType.Logo, $event)"
              ></app-image-container>
              <button
                pButton
                id="th_designer_action_remove_logo"
                icon="pi pi-times"
                [disabled]="changeMode === 'CREATE' || !imageLogoExists"
                class="action-button p-button-icon-only"
                (click)="onRemoveImage(RefType.Logo)"
                [attr.aria-label]="'IMAGE.TOOLTIPS.REMOVE' | translate"
                [pTooltip]="'IMAGE.TOOLTIPS.REMOVE' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              ></button>
              <button
                pButton
                id="th_designer_action_logo_upload"
                icon="pi pi-upload"
                [disabled]="changeMode === 'CREATE'"
                class="action-button p-button-icon-only"
                (click)="selectedFileInputLogo.click()"
                [attr.aria-label]="'IMAGE.TOOLTIPS.UPLOAD' | translate"
                [pTooltip]="'IMAGE.TOOLTIPS.UPLOAD' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              ></button>
              <span class="p-float-label w-full">
                <input
                  pInputText
                  type="text"
                  id="th_designer_field_logo_url"
                  class="w-full pt-3 pb-2 text-responsive"
                  formControlName="logoUrl"
                  (input)="onInputChange(RefType.Logo)"
                  [attr.aria-label]="('LOGO.LABEL' | translate) + ':  ' + ('IMAGE.TOOLTIPS.URL' | translate)"
                  [pTooltip]="'IMAGE.TOOLTIPS.URL' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                />
                <label for="th_designer_field_logo_url" aria-hidden="true">{{ 'LOGO.URL' | translate }}</label>
              </span>
              <label
                *ngIf="displayFileTypeErrorLogo"
                for="th_designer_field_logo_url"
                class="control-error"
                role="note"
              >
                {{ 'VALIDATION.ERRORS.FILETYPE_PATTERN_ERROR_2' | translate }}
              </label>
            </div>
          </div>
          <div class="flex-grow-1">
            <div class="flex flex-wrap sm:flex-nowrap align-items-center row-gap-3 column-gap-4">
              <app-image-container
                id="th_designer_favicon_url_image"
                styleClass="max-h-3rem max-w-5rem  border-round-sm"
                [imageUrl]="fetchingFaviconUrl"
                [title]="(fetchingFaviconUrl ? 'FAVICON.IMAGE' : 'IMAGE.TOOLTIPS.PLACEHOLDER') | translate"
                (imageLoadResult)="onImageLoadResult(RefType.Favicon, $event)"
              ></app-image-container>
              <button
                pButton
                id="th_designer_action_remove_favicon"
                icon="pi pi-times"
                [disabled]="changeMode === 'CREATE' || !imageFaviconExists"
                class="action-button p-button-icon-only"
                (click)="onRemoveImage(RefType.Favicon)"
                [attr.aria-label]="'IMAGE.TOOLTIPS.REMOVE' | translate"
                [pTooltip]="'IMAGE.TOOLTIPS.REMOVE' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              ></button>
              <button
                pButton
                id="th_designer_action_favicon_upload"
                icon="pi pi-upload"
                [disabled]="changeMode === 'CREATE'"
                class="action-button p-button-icon-only"
                (click)="selectedFileInputFavicon.click()"
                [attr.aria-label]="'IMAGE.TOOLTIPS.UPLOAD' | translate"
                [pTooltip]="'IMAGE.TOOLTIPS.UPLOAD' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              ></button>
              <span class="p-float-label w-full">
                <input
                  pInputText
                  type="text"
                  id="th_designer_field_favicon_url"
                  class="w-full pt-3 pb-2 text-responsive"
                  formControlName="faviconUrl"
                  (input)="onInputChange(RefType.Favicon)"
                  [attr.aria-label]="('FAVICON.LABEL' | translate) + ':  ' + ('IMAGE.TOOLTIPS.URL' | translate)"
                  [pTooltip]="'IMAGE.TOOLTIPS.URL' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                />
                <label for="th_designer_field_favicon_url" aria-hidden="true">{{ 'FAVICON.URL' | translate }}</label>
              </span>
              <label
                *ngIf="displayFileTypeErrorFavicon"
                for="th_designer_field_favicon_url"
                class="control-error"
                role="note"
              >
                {{ 'VALIDATION.ERRORS.FILETYPE_PATTERN_ERROR_1' | translate }}
              </label>
            </div>
          </div>
        </form>
      </p-fieldset>

      <p-fieldset [toggleable]="false" [collapsed]="false" styleClass="px-1">
        <ng-template pTemplate="header">
          <span>{{ 'THEME.GROUPS.FONT' | translate }}</span>
        </ng-template>
        <form [formGroup]="fontForm" class="flex flex-column sm:flex-row gap-4">
          <div class="flex-grow-1">
            <span class="p-float-label">
              <input
                pInputText
                type="text"
                id="th_designer_font-family"
                formControlName="font-family"
                class="w-full pt-3 pb-2 text-responsive"
                [pTooltip]="'THEME.TOOLTIPS.FONT_FAMILY' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label for="th_designer_font-family" aria-hidden="true">font-family</label>
            </span>
          </div>
          <div class="flex-grow-1">
            <span class="p-float-label">
              <input
                pInputText
                type="text"
                id="th_designer_font-size"
                formControlName="font-size"
                class="w-full pt-3 pb-2 text-responsive"
                [pTooltip]="'THEME.TOOLTIPS.FONT_SIZE' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label for="th_designer_font-size" aria-hidden="true">font-size</label>
            </span>
          </div>
        </form>
      </p-fieldset>

      <p-fieldset
        *ngFor="let group of groups"
        [toggleable]="false"
        [collapsed]="false"
        styleClass="px-1 color-form-group"
      >
        <ng-template pTemplate="header">
          <span [title]="group.title">{{ group.title }}</span>
        </ng-template>
        <form [formGroup]="group.formGroup" class="grid grid-row-gap">
          <article
            class="col-12 sm:col-6 md:col-4 lg:col-4 xl:col-3"
            *ngFor="let item of themeVars[group.key]"
            [attr.aria-label]="('THEME.TOOLTIPS.ITEM_COLOR' | translate) + ': ' + item"
          >
            <div class="p-inputgroup">
              <span class="p-float-label">
                <input
                  pInputText
                  [id]="'th_designer_item_color_' + item"
                  class="text-responsive"
                  [formControlName]="item"
                  [value]="group.formGroup.value[item]"
                  [attr.aria-label]="item"
                />
                <label [for]="'th_designer_item_color_' + item" aria-hidden="true"> {{ item }} </label>
              </span>
              <p-overlayPanel #op>
                <ng-template pTemplate>
                  <div style="width: 240px; display: inline-block">
                    <color-sketch [width]="220" [formControlName]="item"> </color-sketch>
                  </div>
                </ng-template>
              </p-overlayPanel>
              <button
                tabindex="0"
                [id]="'th_designer_item_color_' + item + '_toggle'"
                class="p-inputgroup-addon cursor-pointer pseudo-button"
                (click)="op.toggle($event)"
                (keyup)="op.toggle($event)"
                [ngStyle]="{ 'background-color': group.formGroup.value[item] }"
                [attr.aria-label]="'THEME.TOOLTIPS.ITEM_COLOR_PICKER' | translate"
                [pTooltip]="'THEME.TOOLTIPS.ITEM_COLOR_PICKER' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              ></button>
            </div>
          </article>
        </form>
      </p-fieldset>
    </div>
  </ocx-page-content>
</ocx-portal-page>

<!-- save as a new theme -->
<p-dialog
  [header]="'ACTIONS.CREATE.THEME' | translate"
  [(visible)]="displaySaveAsDialog"
  [modal]="true"
  [closable]="true"
  [draggable]="true"
  [resizable]="true"
  [style]="{ width: '300px' }"
>
  <div class="mt-1 flex flex-column row-gap-4" [formGroup]="saveAsForm" errorTailor>
    <span class="p-float-label" controlErrorAnchor>
      <input
        pInputText
        id="th_saveas_form_theme_name"
        class="w-full"
        type="text"
        formControlName="themeName"
        [attr.aria-label]="'THEME.NAME' | translate"
        [placeholder]="'THEME.NAME' | translate"
        [pTooltip]="'THEME.TOOLTIPS.NAME' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      />
      <label for="th_saveas_form_theme_name" class="ocx-required-label" aria-hidden="true">
        {{ 'THEME.NAME' | translate }}
      </label>
    </span>
    <span class="p-float-label" controlErrorAnchor>
      <input
        pInputText
        id="th_saveas_form_display_name"
        class="w-full"
        type="text"
        formControlName="displayName"
        [attr.aria-label]="'THEME.DISPLAY_NAME' | translate"
        [placeholder]="'THEME.DISPLAY_NAME' | translate"
        [pTooltip]="'THEME.TOOLTIPS.DISPLAY_NAME' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      />
      <label for="th_saveas_form_display_name" class="ocx-required-label" aria-hidden="true">
        {{ 'THEME.DISPLAY_NAME' | translate }}
      </label>
    </span>
  </div>
  <ng-template pTemplate="footer">
    <div class="flex flex-wrap gap-2 justify-content-end">
      <p-button
        icon="pi pi-times"
        styleClass="m-0"
        (onClick)="displaySaveAsDialog = false"
        [label]="'ACTIONS.CANCEL' | translate"
        [ariaLabel]="'ACTIONS.CANCEL' | translate"
        [pTooltip]="'ACTIONS.TOOLTIPS.CANCEL_AND_CLOSE' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
      <p-button
        icon="pi pi-save"
        styleClass="m-0"
        (onClick)="onSaveAsTheme()"
        [disabled]="!saveAsForm.valid"
        [label]="'ACTIONS.SAVE' | translate"
        [ariaLabel]="'ACTIONS.SAVE' | translate"
        [pTooltip]="'ACTIONS.TOOLTIPS.SAVE_AS' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>

<!-- confirm the use of a theme as template -->
<p-confirmDialog />
