@use 'src/app/th-mixins.scss' as *;

@include card-badges;
@include danger-action;
@include ocx-text-responsive;
@include ocx-interactive-data-view-fixes;
@include dataview-list-flex-zebra-rows;
@include media-queries;

:host ::ng-deep {
  .ocx-content > div {
    margin-bottom: 0 !important;
    padding: 0.75rem 0.5rem !important;
  }

  /* fixes for p-card */
  --onecx-theme-onecx-theme-ui-card-body-padding: 0.5rem;
  --onecx-theme-onecx-theme-ui-card-border-radius: 4px;
  --onecx-theme-onecx-theme-ui-card-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;

  .h-05rem {
    height: 0.5rem;
  }
  .word-break-all {
    word-break: break-all;
  }

  .card-badge-left,
  .card-badge-right {
    &.badge-1 {
      top: 5px;
    }
    &.badge-2 {
      top: 40px;
    }
  }

  .card-badge-right {
    right: -4px;
  }
  .card-badge-left {
    left: -4px;
  }

  @media screen and (min-width: 576px) {
    .card-badge-right {
      right: -10px;
      padding: 6px !important;
    }
    .card-badge-left {
      left: -10px;
      padding: 6px !important;
    }
  }
}
