@import 'src/app/_th-mixins.scss';

@include card-badges;
@include danger-action;
@include correct-select-button;
@include correct-dataview-header;
@include correct-data-view-control;
@include displaying-text-responsive;
@include dataview-list-flex-zebra-rows;
@include media-queries;

:host ::ng-deep {
  .h-05rem {
    height: 0.5rem;
  }
  .word-break-all {
    word-break: break-all;
  }
  .card-badge-left.badge-1 {
    top: 0px;
    left: -12px;
  }
}
