:host ::ng-deep {
  .p-dataview-content .p-grid > div {
    min-height: 60px;
    &.listview-row {
      &:nth-child(odd) {
        background-color: #f8f9fa;
      }
    }
  }
  .h-05rem {
    height: 0.5rem;
  }
}
