@if (changeMode === 'EDIT') {
  <section
    class="mt-2 p-1 sm:p-3 flex flex-wrap justify-content-between align-items-center row-gap-2 column-gap-3 surface-100 border-round"
    [attr.aria-label]="'DIALOG.DETAIL.SPECIAL.SECTION' | translate"
  >
    <div
      class="field mb-0 flex flex-wrap sm:flex-nowrap align-items-center row-gap-3 column-gap-3"
      [attr.aria-label]="'DIALOG.DETAIL.AUTO_APPLY.LABEL' | translate"
      [pTooltip]="'DIALOG.DETAIL.AUTO_APPLY.TOOLTIP' | translate"
      tooltipPosition="top"
      tooltipEvent="hover"
    >
      <p-toggleswitch
        inputId="th_detail_apply_auto_apply"
        name="autoApplyToggle"
        [(ngModel)]="autoApply"
        (ngModelChange)="autoApplyChange.emit($event)"
      ></p-toggleswitch>
      <label for="th_detail_apply_auto_apply" aria-hidden="true">
        {{ 'DIALOG.DETAIL.AUTO_APPLY.LABEL' | translate }}
      </label>
    </div>
    @if (isCurrentTheme) {
      <div
        class="pi pi-bolt text-primary font-medium"
        [attr.aria-label]="'DIALOG.DETAIL.AUTO_APPLY.CURRENT_THEME' | translate"
        role="note"
      ></div>
    }
    <div class="field mb-0">
      <p-float-label variant="on" class="min-w-rem-dropdown-template max-w-30rem">
        @if (themes$ | async; as themes) {
          <p-select
            #themeTemplateBox
            inputId="th_detail_apply_theme_template"
            [options]="themes ?? []"
            optionLabel="displayName"
            optionValue="name"
            styleClass="w-full"
            panelStyleClass="max-w-30rem"
            (onChange)="onSelectThemeTemplate($event, themes, themeTemplateBox)"
            [showClear]="false"
            [autoDisplayFirst]="false"
            [ariaLabel]="'THEME.TEMPLATE.SELECTOR' | translate"
            [pTooltip]="'THEME.TEMPLATE.SELECTOR.TOOLTIP' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
            escape="false"
          ></p-select>
        }
        <label for="th_detail_apply_theme_template" class="white-space-nowrap" aria-hidden="true">
          {{ 'THEME.TEMPLATE.SELECTOR' | translate }}
        </label>
      </p-float-label>
    </div>
  </section>
}

<!-- confirm the use of a theme as template -->
<p-confirmDialog key="template" styleClass="w-30rem" />
