@use 'src/app/th-mixins.scss' as *;

@include dropdown-zebra-rows;

:host ::ng-deep {
  .min-w-rem-dropdown-template {
    min-width: 16rem;
  }

  .p-dialog.p-confirm-dialog {
    .p-confirm-dialog-icon {
      color: var(--danger-button-bg);
    }
    .p-dialog-footer {
      display: flex;
      justify-content: flex-end;
      gap: 0.5rem;
    }
  }
}
