<form [formGroup]="basicForm" class="mt-4 mx-0 sm:mx-2 flex flex-column row-gap-4">
  <!-- THEME BASICs -->
  <div
    class="flex flex-row flex-wrap justify-content-start align-items-center column-gap-4 sm:column-gap-5 md:column-gap-6 row-gap-2"
  >
    <p-floatlabel variant="on" class="flex-grow-1">
      <input
        pInputText
        type="text"
        id="th_detail_basic_field_display_name"
        class="w-full pt-3 pb-2 text-responsive"
        formControlName="displayName"
        [ariaLabel]="'THEME.DISPLAY_NAME' | translate"
        [pTooltip]="'THEME.TOOLTIPS.DISPLAY_NAME' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      />
      <label class="ocx-required-label" for="th_detail_basic_field_display_name" aria-hidden="true">
        {{ 'THEME.DISPLAY_NAME' | translate }}
      </label>
    </p-floatlabel>
    <div class="md:w-10rem">
      <p-checkbox
        ngDefaultControl
        type="text"
        id="th_detail_basic_field_mandatory"
        styleClass="cursor-auto shadow-none"
        formControlName="mandatory"
        [binary]="true"
        [ariaLabel]="'INTERNAL.MANDATORY' | translate"
        [pTooltip]="'INTERNAL.TOOLTIPS.MANDATORY' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-checkbox>
      <label for="th_detail_basic_field_mandatory" class="ml-2">{{ 'INTERNAL.MANDATORY' | translate }}</label>
    </div>
  </div>
  <p-floatlabel variant="on" class="flex-grow-1">
    <input
      pInputText
      type="text"
      id="th_detail_basic_field_description"
      class="w-full pt-3 pb-2 text-responsive"
      formControlName="description"
      [ariaLabel]="'THEME.TOOLTIPS.DESCRIPTION' | translate"
      [pTooltip]="'THEME.TOOLTIPS.DESCRIPTION' | translate"
      tooltipPosition="top"
      tooltipEvent="hover"
    />
    <label for="th_detail_basic_field_description" aria-hidden="true">
      {{ 'THEME.DESCRIPTION' | translate }}
    </label>
  </p-floatlabel>

  <!-- LOGO -->
  <div class="flex-grow-1 sm:h-3-5rem mt-2">
    <!-- helper inputs because p-fileupload does not work inside inputgroup -->
    <input
      #fileUploadLogo
      id="th_detail_basic_upload_logo_input"
      hidden
      type="file"
      accept="image/*"
      (change)="onFileUpload($event, LogoRefType.Logo)"
    />
    <label class="hidden" for="th_detail_basic_upload_logo_input" aria-hidden="true">
      exists only for Sonar report
    </label>
    <div class="flex flex-wrap sm:flex-nowrap align-items-center row-gap-3 column-gap-4">
      <section
        class="w-4rem pl-2"
        style="color: var(--emphasis-medium)"
        [pTooltip]="'IMAGE.TOOLTIPS.LOGO' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
        aria-hidden="true"
      >
        {{ 'IMAGE.LOGO' | translate }}
      </section>
      <div class="w-5rem text-center">
        <app-image-container
          id="th_detail_basic_logo_url_image"
          styleClass="max-h-3rem max-w-5rem border-round-sm"
          [bffUrl]="bffUrl[LogoRefType.Logo]"
          [imageUrl]="basicForm.controls['logoUrl'].value"
          [cascadeUse]="false"
          (imageLoadResult)="onImageLoadResult($event, LogoRefType.Logo, basicForm.controls['logoUrl'].value)"
        ></app-image-container>
      </div>
      <p-button
        id="th_detail_basic_action_remove_logo"
        icon="pi pi-trash"
        class="action-button p-button-icon-only"
        (click)="onRemoveImage(LogoRefType.Logo)"
        [disabled]="!(bffUrl[LogoRefType.Logo] && !basicForm.controls['logoUrl'].value)"
        [ariaLabel]="'IMAGE.TOOLTIPS.REMOVE' | translate"
        [pTooltip]="'IMAGE.TOOLTIPS.REMOVE' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
      <p-button
        id="th_detail_basic_action_upload_logo"
        icon="pi pi-upload"
        class="action-button p-button-icon-only"
        (onClick)="fileUploadLogo.click()"
        [disabled]="basicForm.controls['logoUrl'].value"
        [ariaLabel]="'IMAGE.TOOLTIPS.UPLOAD' | translate"
        [pTooltip]="'IMAGE.TOOLTIPS.UPLOAD' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
      <div class="flex flex-column row-gap-1 flex-grow-1">
        <p-inputgroup class="w-auto">
          <p-floatlabel variant="on">
            <input
              #LogoUrlInput
              pInputText
              type="text"
              id="th_detail_basic_field_logo_url"
              class="w-full pt-3 pb-2 text-responsive"
              formControlName="logoUrl"
              [ariaLabel]="('IMAGE.LOGO' | translate) + ':  ' + ('IMAGE.TOOLTIPS.URL' | translate)"
              [pTooltip]="('IMAGE.TOOLTIPS.URL' | translate) + ('VALIDATION.HINTS.FORMAT_IMAGE_URL' | translate)"
              tooltipPosition="top"
              tooltipEvent="hover"
              [escape]="false"
            />
            <label for="th_detail_basic_field_logo_url" aria-hidden="true">
              {{ 'IMAGE.LOGO_URL' | translate }}
            </label>
          </p-floatlabel>
          <p-inputgroup-addon>
            <p-button
              id="ws_detail_props_item_logo_url_remove"
              icon="pi pi-trash"
              (onClick)="onRemoveImageUrl(LogoRefType.Logo)"
              [disabled]="changeMode() !== 'EDIT' && basicForm.controls['logoUrl'].value !== ''"
              [ariaLabel]="'IMAGE.TOOLTIPS.REMOVE.URL' | translate"
              [pTooltip]="'IMAGE.TOOLTIPS.REMOVE.URL' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
          </p-inputgroup-addon>
        </p-inputgroup>
      </div>
    </div>
  </div>

  <!-- LOGO SMALL -->
  <div class="flex-grow-1 sm:h-3-5rem">
    <!-- helper inputs because p-fileupload does not work inside inputgroup -->
    <input
      #fileUploadLogoSmall
      id="th_detail_basic_upload_logo_small_input"
      hidden
      type="file"
      accept="image/*"
      (change)="onFileUpload($event, LogoRefType.LogoSmall)"
    />
    <label class="hidden" for="th_detail_basic_upload_logo_small_input" aria-hidden="true">
      exists only for Sonar report
    </label>
    <div class="flex flex-wrap sm:flex-nowrap align-items-center row-gap-3 column-gap-4">
      <section
        class="w-4rem pl-2"
        style="color: var(--emphasis-medium)"
        [pTooltip]="'IMAGE.TOOLTIPS.LOGO_SMALL' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
        aria-hidden="true"
      >
        {{ 'IMAGE.LOGO_SMALL' | translate }}
      </section>
      <div class="w-5rem text-center">
        <app-image-container
          id="th_detail_basic_logo_small_url_image"
          styleClass="max-h-3rem max-w-5rem border-round-sm"
          [bffUrl]="bffUrl[LogoRefType.LogoSmall]"
          [imageUrl]="basicForm.controls['smallLogoUrl'].value"
          [cascadeUse]="false"
          (imageLoadResult)="onImageLoadResult($event, LogoRefType.LogoSmall, basicForm.controls['smallLogoUrl'].value)"
        ></app-image-container>
      </div>
      <p-button
        id="th_detail_basic_action_remove_logo_small"
        icon="pi pi-trash"
        class="action-button p-button-icon-only"
        (onClick)="onRemoveImage(LogoRefType.LogoSmall)"
        [disabled]="!(bffUrl[LogoRefType.LogoSmall] && !basicForm.controls['smallLogoUrl'].value)"
        [ariaLabel]="'IMAGE.TOOLTIPS.REMOVE' | translate"
        [pTooltip]="'IMAGE.TOOLTIPS.REMOVE' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
      <p-button
        id="th_detail_basic_action_upload_logo_small"
        icon="pi pi-upload"
        class="action-button p-button-icon-only"
        [disabled]="basicForm.controls['smallLogoUrl'].value"
        (onClick)="fileUploadLogoSmall.click()"
        [ariaLabel]="'IMAGE.TOOLTIPS.UPLOAD' | translate"
        [pTooltip]="'IMAGE.TOOLTIPS.UPLOAD' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
      <div class="flex flex-column row-gap-1 flex-grow-1">
        <p-inputgroup class="w-auto">
          <p-floatlabel variant="on">
            <input
              #SmallLogoUrlInput
              pInputText
              type="text"
              id="th_detail_basic_field_logo_small_url"
              class="w-full pt-3 pb-2 text-responsive"
              formControlName="smallLogoUrl"
              [ariaLabel]="('IMAGE.LOGO_SMALL' | translate) + ':  ' + ('IMAGE.TOOLTIPS.URL' | translate)"
              [pTooltip]="('IMAGE.TOOLTIPS.URL' | translate) + ('VALIDATION.HINTS.FORMAT_IMAGE_URL' | translate)"
              tooltipPosition="top"
              tooltipEvent="hover"
              [escape]="false"
            />
            <label for="th_detail_basic_field_logo_small_url" aria-hidden="true">
              {{ 'IMAGE.LOGO_URL' | translate }}
            </label>
          </p-floatlabel>
          <p-inputgroup-addon>
            <p-button
              id="ws_detail_props_item_logo_small_url_remove"
              icon="pi pi-trash"
              (onClick)="onRemoveImageUrl(LogoRefType.LogoSmall)"
              [disabled]="changeMode() !== 'EDIT' && basicForm.controls['smallLogoUrl'].value !== ''"
              [ariaLabel]="'IMAGE.TOOLTIPS.REMOVE.URL' | translate"
              [pTooltip]="'IMAGE.TOOLTIPS.REMOVE.URL' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
          </p-inputgroup-addon>
        </p-inputgroup>
      </div>
    </div>
  </div>

  <!-- FAVICON -->
  <div class="flex-grow-1 sm:h-3-5rem">
    <!-- helper inputs because p-fileupload does not work inside inputgroup -->
    <input
      #fileUploadFavicon
      id="th_detail_basic_upload_favicon_input"
      hidden
      type="file"
      accept="image/*"
      (change)="onFileUpload($event, LogoRefType.Favicon)"
    />
    <label class="hidden" for="th_detail_basic_upload_favicon_input" aria-hidden="true">
      exists only for Sonar report
    </label>
    <div class="flex flex-wrap sm:flex-nowrap align-items-center row-gap-3 column-gap-4">
      <section
        class="w-4rem pl-2"
        style="color: var(--emphasis-medium)"
        [pTooltip]="'IMAGE.TOOLTIPS.FAVICON' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
        aria-hidden="true"
      >
        {{ 'IMAGE.FAVICON' | translate }}
      </section>
      <div class="w-5rem text-center">
        <app-image-container
          id="th_detail_basic_favicon_url_image"
          styleClass="max-h-3rem max-w-5rem border-round-sm"
          [bffUrl]="bffUrl[LogoRefType.Favicon]"
          [imageUrl]="basicForm.controls['faviconUrl'].value"
          [cascadeUse]="false"
          (imageLoadResult)="onImageLoadResult($event, LogoRefType.Favicon, basicForm.controls['faviconUrl'].value)"
        ></app-image-container>
      </div>
      <p-button
        id="th_detail_basic_action_remove_favicon"
        icon="pi pi-trash"
        class="action-button p-button-icon-only"
        (click)="onRemoveImage(LogoRefType.Favicon)"
        [disabled]="!(bffUrl[LogoRefType.Favicon] && !basicForm.controls['faviconUrl'].value)"
        [ariaLabel]="'IMAGE.TOOLTIPS.REMOVE' | translate"
        [pTooltip]="'IMAGE.TOOLTIPS.REMOVE' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
      <p-button
        id="th_detail_basic_action_upload_favicon"
        icon="pi pi-upload"
        class="action-button p-button-icon-only"
        (onClick)="fileUploadFavicon.click()"
        [disabled]="basicForm.controls['faviconUrl'].value"
        [ariaLabel]="'IMAGE.TOOLTIPS.UPLOAD' | translate"
        [pTooltip]="'IMAGE.TOOLTIPS.UPLOAD' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
      <div class="flex flex-column row-gap-1 flex-grow-1">
        <p-inputgroup class="w-auto">
          <p-floatlabel variant="on">
            <input
              #FaviconUrlInput
              pInputText
              type="text"
              id="th_detail_basic_field_favicon_url"
              class="w-full pt-3 pb-2 text-responsive"
              formControlName="faviconUrl"
              [ariaLabel]="('IMAGE.FAVICON' | translate) + ':  ' + ('IMAGE.TOOLTIPS.URL' | translate)"
              [pTooltip]="('IMAGE.TOOLTIPS.URL' | translate) + ('VALIDATION.HINTS.FORMAT_IMAGE_URL' | translate)"
              tooltipPosition="top"
              tooltipEvent="hover"
              [escape]="false"
            />
            <label for="th_detail_basic_field_favicon_url" aria-hidden="true">
              {{ 'IMAGE.FAVICON_URL' | translate }}
            </label>
          </p-floatlabel>
          <p-inputgroup-addon>
            <p-button
              id="ws_detail_props_item_favicon_url_remove"
              icon="pi pi-trash"
              (onClick)="onRemoveImageUrl(LogoRefType.Favicon)"
              [disabled]="changeMode() !== 'EDIT' && basicForm.controls['faviconUrl'].value !== ''"
              [ariaLabel]="'IMAGE.TOOLTIPS.REMOVE.URL' | translate"
              [pTooltip]="'IMAGE.TOOLTIPS.REMOVE.URL' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
          </p-inputgroup-addon>
        </p-inputgroup>
      </div>
    </div>
  </div>
</form>

<div class="my-4 mx-0 sm:mx-2 text-center border-bottom-1" style="border-color: var(--p-stone-300)">
  <div class="h-1rem mb-2 text-xl text-600 font-bold">{{ 'THEME.GROUPS.FONT' | translate }}</div>
</div>

<form [formGroup]="fontForm" class="mx-0 sm:mx-2 flex flex-column sm:flex-row gap-4">
  <div class="flex-grow-1">
    <p-floatlabel variant="on">
      <input
        pInputText
        type="text"
        id="th_detail_font_font_family"
        class="w-full pt-3 pb-2 text-responsive"
        formControlName="font-family"
        [ariaLabel]="'THEME.TOOLTIPS.FONT_FAMILY' | translate"
        [pTooltip]="'THEME.TOOLTIPS.FONT_FAMILY' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      />
      <label for="th_detail_font_font_family" aria-hidden="true">{{ 'THEME.FONT_FAMILY' | translate }}</label>
    </p-floatlabel>
  </div>
  <div class="flex-grow-1">
    <p-floatlabel variant="on">
      <input
        pInputText
        type="text"
        id="th_detail_font_font_size"
        class="w-full pt-3 pb-2 text-responsive"
        formControlName="font-size"
        [ariaLabel]="'THEME.TOOLTIPS.FONT_SIZE' | translate"
        [pTooltip]="'THEME.TOOLTIPS.FONT_SIZE' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      />
      <label for="th_detail_font_font_size" aria-hidden="true">{{ 'THEME.FONT_SIZE' | translate }}</label>
    </p-floatlabel>
  </div>
</form>
