@if (visible()) {
  <p-dialog
    [header]="'ACTIONS.DELETE.TOOLTIP' | translate"
    [visible]="true"
    (visibleChange)="visible.set(false)"
    [modal]="true"
    [closable]="true"
    [draggable]="true"
    [resizable]="true"
    [style]="{ 'max-width': '450px' }"
  >
    <ng-template pTemplate="content">
      <div class="flex column-gap-3 row-gap-1 justify-content-start align-items-center">
        @let icon =
          useLoadingState() === 'loading'
            ? 'pi-spin pi-cog'
            : useLoadingState() === 'timeout'
              ? 'pi-exclamation-triangle'
              : useLoadingState() === 'ready' && themeUsed()
                ? 'pi-ban'
                : 'pi-question-circle';
        @let color = useLoadingState() === 'ready' && !themeUsed() ? 'var(--danger-button-bg)' : 'var(--text-color)';
        <div [class]="'text-3xl pi ' + icon" [style.color]="color"></div>

        <div class="w-full mt-1 flex flex-column row-gap-3">
          @if (useLoadingState() === 'loading') {
            <p-message
              id="th_delete_message_loading"
              severity="info"
              [text]="'ACTIONS.DELETE.MESSAGE_CHECK_USE' | translate"
            ></p-message>
          } @else if (useLoadingState() === 'timeout') {
            <p-message
              id="th_delete_message_timeout"
              severity="info"
              [text]="'ACTIONS.DELETE.MESSAGE_TIMEOUT' | translate"
            ></p-message>
          } @else if (useLoadingState() === 'ready' && themeToBeDeleted()) {
            @if (themeToBeDeleted()?.mandatory) {
              <p-message
                id="th_delete_message_reject_mandatory"
                severity="info"
                [text]="'ACTIONS.DELETE.MESSAGE_REJECT_MANDATORY' | translate"
              ></p-message>
            } @else if (themeUsed()) {
              <p-message
                id="th_delete_message_reject_used"
                severity="error"
                [text]="'ACTIONS.DELETE.MESSAGE_REJECT_DELETION' | translate"
              ></p-message>
            } @else {
              <div>
                <div id="th_delete_message_text" class="font-bold">
                  {{ 'ACTIONS.DELETE.THEME_MESSAGE' | translate }}
                </div>
                <div id="th_delete_theme_display_name" class="my-2 font-bold danger-action-text text-center">
                  {{ themeToBeDeleted()?.displayName }}
                </div>
                @if (themeToBeDeleted()?.operator) {
                  <p-message
                    id="th_delete_operator_hint"
                    severity="info"
                    styleClass="my-1 p-2"
                    [text]="'ACTIONS.DELETE.MESSAGE_INFO_OPERATOR' | translate"
                  ></p-message>
                }
                <div class="mt-2">{{ 'ACTIONS.DELETE.MESSAGE_INFO' | translate }}</div>
              </div>
            }
          } @else {
            <div id="th_delete_loading_theme" class="w-10rem font-bold text-center">
              {{ 'ACTIONS.LOADING' | translate }}
            </div>
          }
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <div class="flex flex-wrap column-gap-2 row-gap-1 justify-content-end">
        @if (!themeToBeDeleted() || themeToBeDeleted()?.mandatory || themeUsed()) {
          <p-button
            icon="pi pi-times"
            id="th_delete_action_close"
            (onClick)="visible.set(false)"
            [label]="'ACTIONS.NAVIGATION.CLOSE' | translate"
            [pTooltip]="'ACTIONS.NAVIGATION.CLOSE.TOOLTIP' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          ></p-button>
        } @else if (themeToBeDeleted() && !themeToBeDeleted()?.mandatory && !themeUsed()) {
          <p-button
            icon="pi pi-times"
            id="th_delete_action_no"
            (onClick)="visible.set(false)"
            [label]="'ACTIONS.CONFIRMATION.NO' | translate"
            [pTooltip]="'ACTIONS.CONFIRMATION.NO.TOOLTIP' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          ></p-button>
          <p-button
            icon="pi pi-check"
            id="th_delete_action_yes"
            (onClick)="onDeleteTheme(themeToBeDeleted())"
            [label]="'ACTIONS.CONFIRMATION.YES' | translate"
            [pTooltip]="'ACTIONS.CONFIRMATION.YES.TOOLTIP' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          ></p-button>
        }
      </div>
    </ng-template>
  </p-dialog>
}
