app:
  name: ui
  image:
    repository: 'onecx/onecx-theme-ui'
  routing:
    enabled: true
    path: /mfe/theme/
  
  operator:
    # Microfrontend
    microfrontend:
      enabled: true
      spec:
        exposedModule: "./OneCXThemeModule"
        description: "OneCX Theme UI"
        note: "OneCX Theme UI auto import via MF operator"
    # Permission
    permission:
      enabled: true
      spec:
        permissions:
          THEME:
            CREATE: Create theme
            DELETE: Delete theme
            EDIT: Edit theme
            SAVE: Update and save theme
            SEARCH: Search theme
            VIEW: View mode for theme
            IMPORT: Import theme
            EXPORT: Export theme
    # Keycloak
    keycloak:
      client:
        enabled: true
        spec:
          kcConfig:
            clientId: "onecx-theme-ui"    

# PIPE Config
