app:
  name: ui
  image:
    repository: 'onecx/onecx-theme-ui'
  routing:
    enabled: true
    path: /mfe/theme/
  
  operator:
    # Microfrontend
    microfrontend:
      enabled: true
      specs:
        main:
          exposedModule: ./OneCXThemeModule
          description: 'OneCX Theme UI'
          note: "OneCX Theme UI auto import via MF operator"
          type: MODULE
          technology: WEBCOMPONENTMODULE
          remoteName: onecx-theme
          tagName: ocx-theme-component
          endpoints:
            - name: theme-detail
              path: /{theme-name}
        theme-data:
          exposedModule: ./OneCXThemeDataComponent
          description: 'Provide theme data like themes, theme, logo for given theme name(s)'
          type: COMPONENT
          technology: WEBCOMPONENTMODULE
          remoteName: onecx-theme
          tagName: ocx-theme-data-component
        theme-logo:
          exposedModule: ./OneCXCurrentThemeLogoComponent
          description: 'Display the logo of the current theme. Use imageStyleClass as slot input parameter to adjust the image style.'
          type: COMPONENT
          technology: WEBCOMPONENTMODULE
          remoteName: onecx-theme
          tagName: ocx-current-theme-logo-component
    # Microservice
    microservice:
      enabled: true
      spec:
        name: OneCX Theme UI
        description: OneCX Theme Frontend
    # Slot
    slot:
      enabled: true
      specs:
        onecx-theme-list-workspaces-using-theme:
          name: 'onecx-theme-list-workspaces-using-theme'
          description: 'List of Workspaces using the given Theme'
          deprecated: true
        onecx-workspace-data:
          name: 'onecx-workspace-data'
          description: 'Getting data from Workspaces for the current Theme'
    # Permission
    permission:
      enabled: true
      spec:
        permissions:
          THEME:
            CREATE: Create theme
            DELETE: Delete theme
            EDIT: Edit theme
            SAVE: Update and save theme
            SEARCH: Search theme
            VIEW: View mode for theme
            IMPORT: Import theme
            EXPORT: Export theme
