app:
  name: ui
  image:
    repository: 'onecx/onecx-theme-ui'
  routing:
    enabled: true
    path: /mfe/theme/
  
  operator:
    # Microfrontend
    microfrontend:
      enabled: true
      specs:
        main:
          exposedModule: "./OneCXThemeModule"
          description: "OneCX Theme UI"
          note: "OneCX Theme UI auto import via MF operator"
          type: MODULE
          technology: WEBCOMPONENTMODULE
          remoteName: onecx-theme
          tagName: ocx-theme-component
    # Permission
    permission:
      enabled: true
      spec:
        permissions:
          THEME:
            CREATE: Create theme
            DELETE: Delete theme
            EDIT: Edit theme
            SAVE: Update and save theme
            SEARCH: Search theme
            VIEW: View mode for theme
            IMPORT: Import theme
            EXPORT: Export theme

# PIPE Config
