<div class="my-3 flex flex-column row-gap-5">
  <!-- step overall groups in this order: general, topbar, sidebar -->
  @for (group of groups; track group.key) {
    <div
      class="mb-4 text-center border-bottom-1"
      style="border-color: var(--p-stone-300)"
      [title]="group.titleKey | translate"
    >
      <div class="h-1rem mb-2 text-xl text-600 font-bold">{{ group.titleKey | translate }}</div>
    </div>

    <form [formGroup]="group.formGroup" class="grid grid-row-gap">
      <!-- step overall variables in the group -->
      @for (variable of themeVars[group.key]; track variable) {
        <article
          class="col-12 sm:col-6 md:col-4 lg:col-4 xl:col-3"
          [attr.aria-label]="('THEME.TOOLTIPS.ITEM_COLOR' | translate) + ': ' + variable"
        >
          <p-popover #pop>
            <div style="width: 240px; display: inline-block">
              <color-sketch
                [width]="220"
                [formControlName]="variable"
                (onChange)="onChangeColorValue(group.key, variable, $event.color.hex)"
              >
              </color-sketch>
            </div>
          </p-popover>

          <p-inputgroup class="w-auto px-2">
            <p-float-label variant="on">
              <input
                pInputText
                type="text"
                [id]="'th_detail_item_color_' + variable"
                class="w-full pt-3 pb-2 text-responsive"
                [formControlName]="variable"
                [ariaLabel]="variable"
              />
              <label [for]="'th_detail_item_color_' + variable" aria-hidden="true"> {{ variable }} </label>
            </p-float-label>
            <p-inputgroup-addon>
              <!-- To update the button's background color when the color changes, 
                   we need a simple HTML button, as PrimeNG does not support dynamic background color changes for buttons.
                -->
              <button
                tabindex="0"
                type="button"
                [id]="'th_detail_item_color_' + variable + '_toggle'"
                (click)="pop.toggle($event)"
                (keyup)="pop.toggle($event)"
                class="p-button p-component h-full w-full border-none"
                [style.color]="
                  group.formGroup.get(variable)?.value === '#FFFFFF' ? 'var(--p-stone-400)' : 'var(--p-stone-200)'
                "
                [style.background-color]="group.formGroup.get(variable)?.value"
                [disabled]="changeMode === 'VIEW'"
                [attr.aria-label]="'THEME.TOOLTIPS.ITEM_COLOR_PICKER' | translate"
                [pTooltip]="changeMode !== 'VIEW' ? ('THEME.TOOLTIPS.ITEM_COLOR_PICKER' | translate) : null"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
                @if (changeMode !== 'VIEW') {
                  <span class="p-button-icon p-button-icon-left pi pi-palette"></span>
                }
              </button>
            </p-inputgroup-addon>
          </p-inputgroup>
        </article>
      }
    </form>
  }
</div>
