<div class="my-3 flex flex-column row-gap-5">
  @for (group of groups; track group.key) {
    <div
      class="mb-4 text-center border-bottom-1"
      style="border-color: var(--p-stone-300)"
      [title]="group.titleKey | translate"
    >
      <div class="h-1rem mb-2 text-xl text-600 font-bold">{{ group.titleKey | translate }}</div>
    </div>

    <form [formGroup]="group.formGroup" class="grid grid-row-gap">
      @for (item of themeVars[group.key]; track item) {
        <article
          class="col-12 sm:col-6 md:col-4 lg:col-4 xl:col-3"
          [attr.aria-label]="('THEME.TOOLTIPS.ITEM_COLOR' | translate) + ': ' + item"
        >
          <p-popover #op>
            <ng-template pTemplate>
              <div style="width: 240px; display: inline-block">
                <color-sketch [width]="220" [formControlName]="item"> </color-sketch>
              </div>
            </ng-template>
          </p-popover>

          <p-float-label variant="on">
            <input
              pInputText
              [id]="'th_detail_item_color_' + item"
              class="pt-3 pb-2 text-responsive"
              [formControlName]="item"
              [value]="group.formGroup.value[item]"
              [ariaLabel]="item"
            />
            <label [for]="'th_detail_item_color_' + item" aria-hidden="true"> {{ item }} </label>
          </p-float-label>

          <!--p-inputgroup class="w-auto px-2">
            <p-inputgroup-addon>
              <p-button
                tabindex="0"
                [id]="'th_detail_item_color_' + item + '_toggle'"
                (onClick)="op.toggle($event)"
                (onKeyup)="op.toggle($event)"
                [style.background-color]="group.formGroup.value[item]"
                [ariaLabel]="'THEME.TOOLTIPS.ITEM_COLOR_PICKER' | translate"
                [pTooltip]="'THEME.TOOLTIPS.ITEM_COLOR_PICKER' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              ></p-button>
            </p-inputgroup-addon>
          </p-inputgroup-->
        </article>
      }
    </form>
  }
</div>
